<div id="header"><p>New post</a></p></div>
<div class="container">
  <form action="/create/" method="post">
    <p> Title: <input type="text" name="title"></p>
    <p> Content:</p><p> <textarea name="content" cols="60" rows="75"></textarea></p>
    <p> Tags: <input type="text" name="tags"></p>
    <p> <input type="submit" value="post"></p>
  </form>
</div>
