<div id="header"><p>Posts for tag: <%= @tag.tag_name %></p></div>
<div class="container">
  <% @posts.each do |post| %>
  <div class="post">
   <p> <h2> <a href=<%="/posts/#{post.id}/" %>><%= post.title %> </a></h2></p>
   <p></p>
   <p> <%= post.content %> </p>
  <% end %>
  </div>
</div>
